* {
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(255, 237, 211);
    margin: 0;
    width: 100%;
    height: 100%;
}

/* footer */

.footer- {
    background-color: rgb(180, 80, 22);
    margin: 0;
}

.h2-footer {
    color: white;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
}

.h4-footer {
    color: #e09f3e;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
}

.div1-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

/* header */

.header-receitas {
    background-image: url(/imagens/imagem\ de\ fundo\ grande.png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.header-receitas h1 {
    color: white;
    margin: 0 10px;
    font-size: 35px;
}

.header-receitas p {
    color: white;
    margin: 0 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.voltar-pagina a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
    color: #000;
}

.voltar-pagina img {
    width: 20px;
    height: 20px;
}

/* Main */

.main-receitas {
    display: flex;
    justify-items: center;
    gap: 95px;
}

/*  parte da receita da main */
.conteiner-receitas {
    background-color: #fff;
    width: 140vh;
    height: 100vh;
    border-radius: 15px;
    margin-left: 27px;
    margin-bottom: 24px;
}

.marcacao-receitas {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
}

.marcacao-receitas img {
    width: 25px;
    height: 25px;
}

.marcacao-receitas-texto h5 {
    font-size: 15px;
    color: gray;
    margin: 0;
    margin-top: 15px;
}

.marcacao-receitas-texto h3 {
    margin: 0;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-marcacao-receitas {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 35px;
    border-bottom: 1px solid #a3a3a3 ;
}


.botoes-receitas {
    background-color: #a3a3a3;
    width: 129vh;
    height: 35px;
    margin-top: 15px;
    display: flex;
    margin-left: 35px;
    gap: 5px;
}

.botoes {
    width: 200px;
    gap: 10px;
    border: 0;
    background-color: #a3a3a3;
    color: #888888;
}

.li-receitas{
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

.li-receitas li{
    margin: 15px 35px;
}


/* parte da nutricao da main */

.conteiner-nutricao-info {
    background-color: #ffffff;
    width: 50vh;
    height: 70vh;
    border-radius: 15px;
}

.informacoes-conteiner{
    border-bottom: 1px solid #a3a3a3;
    margin: 0 15px;
}

.informacoes-conteiner h5{
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    
}