/* dislay bloco embutido */

.inline-block {
    width: 400px;
    height: 400px;
    background-color: #754;
    font-size: xx-large;
    color: white;
    margin: 15px;
    display: inline-block;
}

/* display bloco de exibição */

.block {
    background-color: darkmagenta;
    font-size: xx-large;
    color: white;
    margin: 10px;
    display: block;
}

/* posição estatica */
.static {
    position: static;
    background-color: #848;
    color: #fff;
    width: 100px;
    height: 100px;
}

/* posição sticky */
.sticky {
    width: 150px;
    height: 150px;
    background-color: firebrick;
    color: aliceblue;
    border: 1px solid #000;
    position: sticky;
    top: 10px;
}